
coverage>=7.14.3
fuzzywuzzy>=0.18.0
homeassistant
isort>=8.0.1
levenshtein>=0.27.3
prek>=0.4.5
pylint>=4.0.6
pytest>=8.4.2
pytest-asyncio>=1.4.0
pytest-cov>=7.1.0
pytest-homeassistant-custom-component
pytest-picked
ruff>=0.15.20
yarl>=1.24.2
