
-r requirements.txt
coverage>=7.6.12
fuzzywuzzy
git+https://github.com/home-assistant/core.git@dev
isort
levenshtein
pre-commit
pylint
pymodbus
pytest
pytest-asyncio
pytest-cov
pytest-homeassistant-custom-component
pytest-picked
ruff
yarl
