
-r requirements.txt
coverage>=7.6.12
fuzzywuzzy
homeassistant==2025.10.3
isort
levenshtein
pre-commit
pylint
pymodbus
pytest
pytest-asyncio
pytest-cov
pytest-homeassistant-custom-component
pytest-picked
ruff
yarl
