
-r requirements.txt
coverage>=7.7.0
fuzzywuzzy
homeassistant==2025.5.3
isort
levenshtein
pre-commit
pylint
pymodbus[repl]
pytest
pytest-asyncio
pytest-cov
pytest-homeassistant-custom-component
pytest-picked
ruff
yarl==1.20.0
