name: Validate with HACS
permissions:
  contents: read

on:
  workflow_dispatch:
  push:
  pull_request:
  repository_dispatch:
    types: [ha-dev-test]
jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: HACS validation
        uses: hacs/action@main
        with:
          category: integration
          ignore: wheels
