name: Validate with hassfest

on:
  workflow_dispatch:
  push:
  pull_request:
  repository_dispatch:
    types: [ha-dev-test]
jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: home-assistant/actions/hassfest@master
