name: Python tests
permissions:
  contents: read

on:
  workflow_dispatch:
  push:
  pull_request:
  repository_dispatch:
    types: [ha-dev-test]

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.14"]

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt -r requirements-dev.txt
      - name: Test with pytest
        run: pytest --cov=. --cov-config=.coveragerc --cov-report xml:coverage.xml
      - name: Upload code coverage
        uses: actions/upload-artifact@v6
        with:
          name: code-coverage
          path: coverage.xml
